[Desktop Entry]
Type=Application
Name=Signpost
Comment=Choose which browser opens a link
Exec=signpost %u
Icon=com.lkbddh.signpost
Terminal=false
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;
DBusActivatable=true
StartupWMClass=com.lkbddh.signpost
StartupNotify=true
